<% include ../partials/header.ejs %>
    <% include ./navbar %>
    <br>
    <h2 style="text-align:center;">상품목록화면입니다.</h2>
    <hr>
    <div style="width:500px;margin:0 auto;">
        <table style="border:1px solid gray">
            <tr>
                <th>상품이미지</th>
                <th>품명</th>
                <th>재고</th>
                <th>가격</th>
                <th>BestProduct여부</th>
                <th>EventProduct여부</th>
                <th>상품등록날짜</th>
                <th>삭제</th>
            </tr>
            <% products.forEach(function(product){ 
                var date = new Date(product.createdAt);
            %>
            <tr>
                <td>
                    <img src="/uploads/<%=product.thumbnail%>" alt="" width="300px;">
                </td>
                <td>
                    <a href="/admin/product/edit/<%=product.id%>">
                        <%=product.name%>
                    </a>
                </td>
                <td>
                    <%=product.stock%>
                </td>
                <td>
                    <%=product.price%>
                </td>
                <th>
                    <%=(product.bestProduct == true) ? "O" : "X" %>
                </th>
                <th>
                    <%=(product.eventProduct == true) ? "O" : "X" %>
                </th>
                <td>
                    <%=date.getFullYear()%> -
                    <%=date.getMonth()+1%> -
                    <%=date.getDate()%>
                </td>
                <td>    
                    <a href="/admin/product/delete/<%=product.id%>" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
                </td>
            </tr>
            <%});%>
        </table>
    </div>
<% include ../partials/footer.ejs %>