<% include ../partials/header.ejs %>

<div class="content">

<!--            main 슬라이드-->

            <div class="l-desktop-wrapper"> 
                <div class="content-slide-cover-main">
                    <div class="content-slide-main">
                        <img src="images/slide-image1.jpg">
                        <img src="images/slide-image2.png">
                        <img src="images/slide-image3.png">            
                    </div>

                    <div class='l-wrapper-absolute'>
                        <img class="content-slide-prev-arrow" src="images/arrowL.png">   
                        <img class="content-slide-next-arrow" src="images/arrowR.png">
                    </div>
                    
                    <a class="content-slide-next-block">
                        <span>next-slide</span>
                    </a>
                    <a class="content-slide-prev-block">
                        <span>prev-slide</span>
                    </a>  
                </div>      
            </div>

<!--            sub 슬라이드-->

            <div class="l-wrapper">
                <div class="content-slide-cover-sub">
                    <div class="content-slide-sub">
                        <img src="images/sub-slide-image1.jpg">
                        <img src="images/sub-slide-image2.png">
                        <img src="images/sub-slide-image3.png">
                    </div>
                    
                    <img class="content-slide-prev-arrow small" src="images/arrowL.png">   
                    <img class="content-slide-next-arrow small" src="images/arrowR.png">
                </div>    
            </div>

<!--            베스트상품-->

            <div class="l-wrapper">
                <div class="content-title best">
                    <h2 class="product_sorting">BEST</h2>
                </div>
                <div class="content-product">
                    <div class="l-content-product-row">
                        <% bestProducts.forEach(function(product){ %>
                            <div class="l-content-product-col">
                                <div class="product_container">
                                    <div class="product_image_container">
                                        <a href="/product/<%=product.id%>">
                                            <%if(product.thumbnail){%>
                                                <img class="product_image" src="/uploads/<%=product.thumbnail%>">
                                            <%}%>
                                        </a>
                                    </div>
                                    <div class="product_desc">
                                        <h3 class="product_name">
                                            <span><%= product.description %></span>
                                        </h3>
                                        <h4 class="product_price">
                                            <span><%= product.price %>원</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                    </div>
                </div>
            </div>

<!--            이벤트상품-->

            <div class="l-wrapper">
                <div class="content-title event">
                    <h2 class="product_sorting">EVENT</h2>
                </div>
                <div class="content-product">
                    <div class="l-content-product-row">
                        <% eventProducts.forEach(function(product){ %>
                            <div class="l-content-product-col">
                                <div class="product_container">
                                    <div class="product_image_container">
                                        <a href="/product/<%=product.id%>">
                                            <%if(product.thumbnail){%>
                                                <img class="product_image" src="/uploads/<%=product.thumbnail%>">
                                            <%}%>
                                        </a>
                                    </div>
                                    <div class="product_desc">
                                        <h3 class="product_name">
                                            <span><%= product.description %></span>
                                        </h3>
                                        <h4 class="product_price">
                                            <span></span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                    </div>
                </div>
            </div>

<!--            상품리뷰-->
            <div class='l-wrapper'>
                <div class="content-title event">
                    <h2 class="product_sorting">REVIEWS</h2>
                </div>
                <div class="review-container">
                    <div class="l-content-review-row">
                        <div class="review-slide">
                            <% Reviews.forEach(function(review){%>
                                <div class="l-content-review-col">
                                    <div class="review-wrapper">
                                        <div class="review-image-container" style="background-image: url(<%=review.image%>)">
                                        </div>
                                        <div class="review-desc">
                                            <h4><%= review.content %></h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            <%})%>
                        </div>
                    </div>
                </div>
                <div class="review-more-button-container">
                    <div class="review-more-button">
                        <span>리뷰 더보기</span>
                        <img class="review-slide-arrow prev" src="images/arrowL.png">   
                        <img class="review-slide-arrow next" src="images/arrowR.png">
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function(){
                $('.content-slide-main').slick({
                    fade: true,
                    infinite: true,
                    speed: 1000,
                    slidesToShow: 1,
                    adaptiveHeight: true,
                    autoplay: true,
                    autoplaySpeed: 4000,
                    arrows: true,
                    cssEase: 'linear',
                    prevArrow: $('.content-slide-prev-block'),
                    nextArrow: $('.content-slide-next-block')
                });

                $('.content-slide-sub').slick({
                    fade: true,
                    infinite: true,
                    speed: 1000,
                    slidesToShow: 1,
                    adaptiveHeight: true,
                    autoplay: true,
                    autoplaySpeed: 4000,
                    arrows: true,
                    cssEase: 'linear',
                    prevArrow: $('.content-slide-prev-arrow.small'),
                    nextArrow: $('.content-slide-next-arrow.small')
                });

                $('.review-slide').slick({
                    centerMode: true,
                    infinite: true,
                    slidesToShow: 3,
                    centerPadding: '0px',
                    responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: 0,
                            slidesToShow: 2
                          }
                        },
                        {
                            breakpoint: 560,
                            settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                          }
                        }
                    ],
                    speed: 500,
                    variableWidth: false,
                    autoplay: true,
                    autoplaySpeed: 4000,
                    prevArrow: $('.review-slide-arrow.prev'),
                    nextArrow: $('.review-slide-arrow.next')
                });

                $(".dropdown").on("mouseenter", function(){
                    $(".show_products").css("color", "#f73660");  
                });
                $(".dropdown").on("mouseleave", function(){
                    $(".show_products").css("color", "#333");  
                });
                                
                $(".small-dropdown-products").on("mouseenter", function(){
                    $(".menu_show_products").css("color", "#f73660");  
                });
                $(".small-dropdown-products").on("mouseleave", function(){
                    $(".menu_show_products").css("color", "#333");  
                });
                
                $(".small-dropdown-community").on("mouseenter", function(){
                    $(".menu_community").css("color", "#f73660");  
                });
                $(".small-dropdown-community").on("mouseleave", function(){
                    $(".menu_community").css("color", "#333");  
                });
            });
        </script>


<% include ../partials/footer.ejs %>